<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>Frontik</title>
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/AddContactForm.js"></script>
    <script src="../static/js/PhoneBook.js"></script>
    <script src="../static/js/PhoneBookView.js"></script>
    <script src="../static/js/app.js"></script>
    <title>login page</title>
  </head>
  <body>
    <div class="wrapper">
      <form class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
</div>
  </body>
</html>
