<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frontik</title>
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/AddContactForm.js"></script>
    <script src="../static/js/PhoneBook.js"></script>
    <script src="../static/js/PhoneBookView.js"></script>
    <script src="../static/js/app.js"></script>
    <title>simple table</title>
  </head>
  <body>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bired</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
